


*, *:before, *:after{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto',sans-serif;
}
.wrapper{
    height:50px;
    width:100vw;
    background-color:#363d4c;
    color:white;
    position: absolute;
    text-align: center;
    line-height: 50px;
}